<%= form_with(model: rss_source, local: true) do |form| %>
  <% if rss_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rss_source.errors.count, "error") %> prohibited this rss_source from being saved:</h2>

      <ul>
      <% rss_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
